body {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans';
    color: grey;
    background-color: rgb(235, 198, 223);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#contenedor {
    width: 90%;
    background-color: ghostwhite;
    border: 1px solid gray;
}
#cabecera {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100px;
    align-items: center;
    border-bottom: 2px solid gray;
    width: 100%;
}
#cabecera a {
    color: gray;
    text-decoration: none;
}
#menu1 {
    margin: 5px;
    padding: 5px;
    flex-grow: 1;
    flex-basis: 50%;
    align-items: end;
}
#menu1 > ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: end;
    justify-content: flex-end;
    list-style: none;
    font-size: 12pt;
    height: 100%;
}
#menu1 a {
    color: rgb(88, 84, 88);
    background-color: rgb(250, 221, 244);
    padding: 10px;
    margin: 10px;
    text-decoration: none;
    border: 1px solid rgb(77, 104, 78);
    border-radius: 15px;
}
#menu1 a:hover {
    background-color: antiquewhite;
    color: black;
    cursor: pointer;
}
#contenido {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 100%;
}
#pie {
    text-align: center;
    padding: 10px;
    border-top: 2px solid gray;
    width: 100%;
}
.video-container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.centered-video {
    width: 80%; 
    max-width: 600px; 
    border: 2px solid rgb(136, 231, 136);}


