body{
    border: 1px solid white;
    width: 70%;
    margin: 20%;
    font-size: 13pt;
}

.menu{
       background-color: bisque;
       color: black;
       font-weight: bold;
       align-items: center;
}
ul{
    display:flex;
    justify-content: center;
    align-items: center;

}
li{
    list-style-type: none;
    margin: 2px;

}
a{
    margin: 2px;
    color: black;
    text-decoration: none;
    padding: 10px;
}
#logo{
    align-items: initial;
}
#contenedor{
    background-color: white;
    display: flex;
    justify-content: space-between;
    grid-template-columns: 1fr 300px;
    gap: 10px;
}
section{
        
    align-items: flex-start;
    padding: 10px;
    flex: 1;
}
aside{
    width: 40%;
    margin: 10px;
    text-align: left;
    flex: 1;
   
}
.tabla{
    font-size: 12pt;
 
    border-collapse: collapse;
}
th, td {
    
    padding: 8px;
    text-align: left;}

.tabla2{
    font-size: 12pt;
    
    border-collapse: collapse;}
h3{
    color: brown;
    font-size: 14pt;
}
.pie{    
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
    padding: 20px;
    background-color: rgb(151, 42, 42);
    color: white;
    font-family:  'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 11pt;
    
    
}
h2{
    border-bottom: 1px solid rgba(196, 67, 67, 0.767);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 12pt;
}

#mapa{
    margin-bottom: 20px;
    padding: 20px;
    margin: 20px;
   
}



