main{
    border: 1px solid purple;
    width: 80%;
    margin: 20%;
}
header{
    align-content: space-between;
    font-family: 'Franklin Gothic Medium';
     
}
h1{
    text-align: center;
    align-content: space-between;
}
p{
    text-align: center;
}
nav{
    height: 100px;
    ;}
ul{
    display:flex;
    justify-content: center;
    align-items: center;

}
li{
    list-style-type: none;
    margin: 2px;

}
a{
    margin: 2px;
    background-color: rgb(160, 126, 240);
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;}

footer{
    display: flex;
    justify-content: center;
    
}